#main{
    width: 300px;
    height: 50px;
    margin-left: 450px;
    margin-right: 5px;
    background-color: rgb(154, 143, 255);
    border: none;
    color: white;
    font-size: 140%;
}
#forum{
    width: 300px;
    height: 50px;
    margin-right: 5px;
    background-color:rgb(154, 143, 255);
    border: none;
    color: white;
    font-size: 140%;
}
#market{
    width: 300px;
    height: 50px; 
    border: none;
    background-color: rgb(154, 143, 255);
    color: white;
    font-size: 140%;
}